body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5dc;
}

* {
  box-sizing: border-box;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  margin-right: 15px;
  height: 1px;
  background: #333;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #333;
  cursor: ew-resize;
  box-shadow: 0 0 0 2px #FFF;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}